/* .section-tours {
	background-color: #f7f7f7;
	padding: 40rem 0 10rem 0;
	margin-top: -20rem;
}

.col-1-of-3 {
	width: 30%;
	display: inline-block;
	margin: 0 auto;
}

.card {
	perspective: 150rem;
	-moz-perspective: 150rem;
	height: 52rem;
	position: relative;
	backface-visibility: hidden;
}

.card__side {
	height: 52rem;
	width: 100%;
	transition: all 1s ease;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
	overflow: hidden;
}

.card__side--front {
	background-color: 255, 255, 255;
}

.card__side--back {
	transform: rotateY(180deg);
}

.card__side--back-1 {
	background-image: linear-gradient(
		to right bottom, 
		#ffb900, 
		#ff7730);
}

.card__side--back-2 {
	background-image: linear-gradient(
		to right bottom, 
		#55c57a, 
		#28b485);
}

.card__side--back-3 {
	background-image: linear-gradient(
		to right bottom, 
		#2998ff, 
		#5643fa);
}

.card:hover .card__side--front {
	transform: rotateY(-180deg);
}

.card:hover .card__side--back {
	transform: rotateY(0deg);
}

.card__picture {
	height: 23rem;
	background-size: cover;
	background-blend-mode: color;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.card__picture--1 {
	background-image: 
		linear-gradient(
			to right bottom, 
			#ffb900, 
			#ff7730);
}

.card__picture--2 {
	background-image: 
		linear-gradient(
			to right bottom, 
			#55c57a, 
			#28b485);
}

.card__picture--3 {
	background-image: 
		linear-gradient(
			to right bottom, 
			#2998ff, 
			#5643fa);
}

.card__heading {
	font-size: 2.8rem;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	text-align: right;
	color: 255, 255, 255;
	position: absolute;
	top: 12rem;
	right: 2rem;
	width: 75%;
	z-index: 10;
}

.card__heading--span {
	padding: .5rem .75rem;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.card__heading--span--1 {
	background-image: 
		linear-gradient(
			to right bottom,
			rgba(255, 119, 48, .85),
			rgba(0, 0, 0, .85)
		);
}

.card__heading--span--2 {
	background-image: 
		linear-gradient(
			to right bottom,
			rgba(40, 180, 133, .85),
			rgba(0, 0, 0, .85)
		);
}

.card__heading--span--3 {
	background-image: 
		linear-gradient(
			to right bottom,
			rgba(86, 67, 250, .85),
			rgba(0, 0, 0, .85)
		);
}

.card__details {
	padding: 3rem;
}

.card__details ul {
	list-style: none;
	width: 80%;
	margin: 0 auto;
}

.card__details li {
	text-align: center;
	font-size: 1.5rem;
	padding: 1rem;
}

.card__details li:not(:last-child) {
	border-bottom: 1px solid #777;
}

.card__cta {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
}

.card__price-box {
	color: 255, 255, 255;
	margin-bottom: 8rem;
}

.card__price-only {
	font-size: 1.6rem;
	text-transform: uppercase;
}

.card__price-value {
	font-size: 6rem;
	font-weight: 100;
} */